.icon {
    width: 150px;
    display: table-column;
    border: .5px solid #eee;
    background: none;
    padding: 10px;
}

.icon img {
    width: 20px;
    float: left;
}

.contenedor_tabla {
    width: 80% !important;
    margin: auto;
}
