<div class='main-nav'>
    <div class='navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
            <a class='navbar-brand' [routerLink]='["/"]'>TEST_DEV_110821</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Inicio
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/customers"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Customers registros
                    </a>
                </li>
                <li>
                    <a href="/" (click)='logOut()'>
                        <span class='glyphicon glyphicon-log-out'></span> Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
