<h1>Customer registros</h1>

<p *ngIf="!forecasts"><em>Cargando...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Id Cliente</th>
            <th>Fecha de registro</th>
            <th>Razon social</th>
            <th>RFC</th>
            <th>Id empleado</th>
            <th>Nombre </th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>id viaje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.IdCliente }}</td>
            <td>{{ forecast.FechaRegistroEmpresa }}</td>
            <td>{{ forecast.RazonSocial }}</td>
            <td>{{ forecast.RFC }}</td>
            <td>{{ forecast.IdEmpleado }}</td>
            <td>{{ forecast.Nombre }}</td>
            <td>{{ forecast.Paterno }}</td>
            <td>{{ forecast.Materno }}</td>
            <td>{{ forecast.IdViaje }}</td>
        </tr>
    </tbody>
</table>